<!-- aqui vai ser a pagina principal o coração do projeto, aonde vai ficar todos os componentes e dentro desses componentes vai ficar as paginas do projeto-->

<!-- adicionando o componente de mensagen -->
<app-messages></app-messages>

<!-- cabeçalho da pagina: componente header -->
<app-header></app-header>
    
<main class="container">
    <!-- o router-outlet será responsável por exibir dinamicamente os componentes associados à rota que está atualmente ativa -->
    <router-outlet></router-outlet>
</main>

<!-- rodapé da pagina: componente footer -->
<app-footer></app-footer>   