<!-- nessa página iremos criar o momento que vai ser mostrado na página de home -->
<h2>Compartilhe o seu <span>Momento</span>!</h2>

<!-- 
    chamando o componente moment form
    colocando texto no botão: btnText, precisamos criar a propriedade btnText no componente new-moment.component.ts
-->

<!-- 
    implementando evento para receber as informações do formulário que esta vindo componente filho moment-form.component.html
    evento (onSubmit)="createHandler($event)
-->
<app-moment-form
    [btnText]="btnText"
    (onSubmit)="createHandler($event)"
>
</app-moment-form>
<!-- 
    com a página de momento criado vamos adicionar as informações do formulário no banco de dados!
    va para o arquivo app.module.ts e adicione dentro de imports[ HttpClientModule, FormsModule, ReactiveFormsModule ]

    agora precisamos criar a interface do moment
    dentro da pasta app crie uma pasta chamada de interface e um arquivo chamando de Moment.ts
-->